{{ if .Site.Data.homepage.certification.enable }}
<section id="certification" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2>{{ i18n "certification_title" }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.certification.items }}
                    <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                        <div class="certification">
                            <div class="certification__date">{{ .year }}</div>
                            <div class="certification__title">{{ .title }}</div>
                            <div class="certification__link">
                                <a href="{{ .link }}" target="_blank">{{ i18n "certification_link" }}</a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}